<table class="table table-hover">
<tbody>
  <tr>
    <td><%= gravatar_for user, size: 50 %>
    <%= link_to user.name, user %></td>
    <% if current_user.admin? && !current_user?(user) %>
      <td><%= link_to "Editar", edit_user_path(user), class: "editar" %>
    <% end %>
    <% if current_user.admin? && !current_user?(user) %>
     <%= link_to "Excluir", user, method: :delete,
                                  data: { confirm: "You sure?" }, class: "excluir" %></td>
    <% end %>
  </tr>
</tbody>
</table>
