<% provide(:title, 'Usuários') %>
<h1>Usuários</h1>

<%= link_to "Cadastrar funcionário", signup_path, class: 'cadastrarfuncionario' %>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>