<!--colocar botão de cadastrar produto-->

<li>
  <%= link_to product.name, products_path %>
 <%= link_to "excluir",{ action: :destroy, id: product.id }, method: :delete,
              data: { confirm: "You sure?" } %>
  <%= link_to "editar", edit_product_path(product) %>
</li>

