

<li>
  <%= link_to product.name, product %>
  <% if current_user.admin? %>
     <%= link_to "excluir",{ action: :destroy, id: product.id }, method: :delete,
              data: { confirm: "You sure?" } %>
  <% end %>
  <% if current_user.admin? %>
      <%= link_to "editar", edit_product_path(product) %>
  <% end %>
</li>

