<li>
  <%= link_to cardapio.nome, cardapio %>
  <% if current_user.admin? %>
    | <%= link_to "excluir",{ action: :destroy, id: cardapio.id }, method: :delete,
              data: { confirm: "You sure?" } %>
  <% end %>
  <% if current_user.admin?%>
      <%= link_to "editar", edit_cardapio_path(cardapio) %>
  <% end %>
</li>