<table class="table table-hover">
<tbody>
  <tr>
    <td><%= link_to cardapio.nome, cardapio %></td>
    <% if current_user.admin?%>
        <td><%= link_to "Editar", edit_cardapio_path(cardapio), class: "editar" %>
    <% end %>
    <% if current_user.admin? %>
       <%= link_to "Excluir",{ action: :destroy, id: cardapio.id }, method: :delete,
              data: { confirm: "You sure?" }, class: "excluir" %></td>
    <% end %>
  </tr>
</tbody>
</table>
    
