<% provide(:title, 'Itens do Cardápio') %>
<h1>Itens do Cardápio</h1>

<%= link_to "Cadastrar item no cardápio", cardapio_path, class: 'cadastrarcardapio' %>

<%= will_paginate %>
<ul class="users">
   <%= render @cardapios %>
</ul>


